*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --bg-color : #f4f3ff;
  --btn-color :#646cff;
  --dark-color :#242424;
  --helper-color :#99b9ff;
}
html{
  font-size: 82.5%;
}
li{
  list-style: none;
}